@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

body {
  margin-top: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

main {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  gap: 30px;
  flex-wrap: wrap;
}

h1 {
  font-weight: 900;
  font-size: 120px;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  background-image: url(bg-img.jpg);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
}



@media (max-width: 950px) {
  main {
    justify-content: center;
  }

  h1 {
    font-size: 50px;
  }
}

.cartao>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  margin: 1rem;
  padding: 1rem;
  color: whitesmoke;
  text-align: center;
  font: 14px 'Rubik', sans-serif;
  max-width: 250px;
}

.cartao>div h2 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.cartao>div p {
  font: italic 1.125rem 'Cardo', cursive;
  line-height: 1.35;
}

.meeru-island {
  background-image: url('1.jpg');
}

.flamingo-beech {
  background-image: url("2.jpg");
}

.protur-safari {
  background-image: url('3.jpg');
}

.mountain-view {
  background-image: url('4.jpg');
}

.cartao {
  background-size: cover;
  background-color: #3a8491;
  border-radius: 4px;
}

a {
  background-color: #ffa600;
  color: rgba(0, 0, 0, 0.75);
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  width: 70%;
}

a:hover {
  background-color: #e69500;
}

a:focus {
  outline: 1px dashed #e69500;
  outline-offset: 3px;
}



@media (hover: hover) and (min-width: 700px) {
  .cartao>div {
    transform: translateY(10rem);
    transition: all 700ms ease-in-out;
  }

  .cartao>div *:not(h2) {
    opacity: 0;
    transform: translateY(10rem);
    transition: all 700ms ease-in-out;
  }

  section {
    overflow: hidden;
  }

  section:hover div,
  section:focus-within div {
    transform: translateY(0);
  }

  section:hover div>*:not(h2) {
    opacity: 1;
    transform: translateY(0);
    transition: all 900ms ease-in-out;
  }
}