@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    color: #171717;
    font-variant-numeric: lining-nums;
}

h1, h2 {
    color: #2c6c69;
}

button .button {
    background: none;
    border-radius: 4px;
    padding: 10px;
    border: solid 1px #ddd;
    text-decoration: none;
}